<div class="container">

  <nav>
    <a routerLink="/todo">Todolist</a>
  </nav>

  <form [formGroup]="todoForm" (submit)="updateTodo()">
    <div>
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="title" placeholder="Ajouter une tâche...">
    </div>
    <div>
      <label for="exampleFormControlInput1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleFormControlInput1"  formControlName="description" placeholder="Ajouter une tâche...">
    </div>
    <div>
      <button [disabled]="todoForm.invalid" type="submit" class="btn btn-primary">Add Task</button>
    </div>
  </form>
  <p>
    <!-- {{todoForm.value | json}} -->
  </p>
</div>
